$font-stack: Helvetica, sans-serif;
$primary-color: rgb(0, 207, 79);
$secondary-color: rgb(66, 66, 66);

.header-row {
  background-color: $primary-color;
  color: $secondary-color;
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.btn {
  border: 1px solid black;
  background-color: white;
  color: black;
  padding: 4px 8px;
  margin-left: 8px;
  font-size: 16px;
  cursor: pointer;
}

.green-btn {
  border-color: $primary-color;
  color: $primary-color;
}

.green-btn:hover {
  background-color: $primary-color;
  color: white;
}

#tbl {
  margin: 3% 5% 0 5%;
}
