<div>
  <h2 id="modal-title">Create Tracker</h2>
  <ion-item>
    <ion-label position="floating">Title</ion-label>
    <ion-input id="Title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">To</ion-label>
    <ion-input id="To"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Type</ion-label>
    <ion-input id="Type"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">ID</ion-label>
    <ion-input id="ID"></ion-input>
  </ion-item>
  <ion-button id="create" (click)="newImage()">Create</ion-button>
</div>
